QUESTION I

In [ ]:
def myreduce(function,items):
  result = items[0]
  for item in items[1:]:
    result = function1(result ,item )

  return result

In [ ]:
myreduce(lambda x ,y : x + y , [3,4,5,6,7])

25

QUESTION II

In [ ]:
def myfilter(function, items):
 result = []

 for item in items:
  if function(item):
   result.append(item)

 return result

In [ ]:
myfilter(lambda x :x> 0 , [4,-1,3,-5,0,-1,4] )

[4, 3, 4]

QUESTION III

i)

In [ ]:
input  = ['x' , 'y' , 'z']
output = [iterables * num for iterables in input for num in range(1,5)]
print(output)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

ii)

In [ ]:
 output = [iterables * num for num in range(1,5) for iterables in input]
 print(output)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

iii)

In [57]:
input  = [2,3,4]
output = [[iterables+num ] for iterables in input for num in range(0,3) ]
print(output)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

iv)

In [59]:
input = [2,3,4,5]
output = [[iterables+ num for iterables in input ] for num in range(0,4)]
print(output)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

v)

In [63]:
input = [1 ,2 ,3 ]
output = [(y,x) for x in input for y in input ]
print(output)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]